{% extends "admin/base_site.html" %}
{% load admin_urls static %}

{% block content %}
<div id="content-main">
    <div class="app-cache-settings-section">
        <h1>{{ title }}</h1>
        
        {% if messages %}
            <ul class="messagelist">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <fieldset class="module aligned">
                <h2>Account Information</h2>
                {% for field in form.visible_fields %}
                    {% if forloop.first %}
                        <!-- User fields -->
                    {% elif field.name == 'bmdc_number' %}
                        <h2>Doctor Profile Information</h2>
                    {% endif %}
                    <div class="form-row">
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="required">*</span>{% endif %}:</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text }}</p>
                            {% endif %}
                            {% if field.errors %}
                                <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="Create {{ account_type }} Account" class="default" />
                <a href="/" class="button cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
